


<div class="error-img"    >
<img src="https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif" style="width:100%;height: 100%;overflow: hidden;" alt="">
    <div >
      {{#if user}}
            <a href="/user-main"><button class="home-btn text-center text-white bg-dark">Goback to Home</button></a> 
            {{else if admin}}
            <a href="/admin"><button class="home-btn text-center text-white bg-dark">Goback to Home</button></a>
            {{else}}
            <img src="https://kfg6bckb.media.zestyio.com/yalantis-interactive-404.gif" alt="">
      {{/if}}
    </div>
   
</div>
