<style>
  .btn-club {

    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 204, 141);
    color: black;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

  .btn-club:hover {
    background-color: black;
    color: white;
  }

  #btn {
    background-color: rgb(246, 250, 253);
    color: black;

  }

  #btn:hover {
    background-color: #eb0505;
    color: white;
  }
</style>

<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
  <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img aria-hidden="true" class="object-cover w-full h-full dark:hidden" src="/assets/img/categories/pp1.avif"
          alt="Office" />
        <img aria-hidden="true" class="hidden object-cover w-full h-full dark:block" src="" alt="Office" />
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
        <div class="w-full">
          <div style="padding-left: 80px">
           <img style="width: 200px;height: 200px; "  src="/images/icon.jpeg" alt="">

          </div>
         
           
          <h1 style="padding-top: 50px;text-align: center;"
            class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
            Login
          </h1>
          <form action="/login" method="post">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Email</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="ENTER EMAIL" type="email" name="Email" required />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Password</span>
              <input
                class="form-control block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="ENTER PASSWORD" type="password" name="Password" required />
            </label>
            {{#if blockErr}}
            <p class="error text-danger" style="padding-top: 50px;text-align: center; color: red;">{{blockErr}}</p>
            {{/if}}
            {{#if loginErr}}
            <p style="color: red;text-align: center;">{{loginErr}}</p>
            {{/if}}
            <div class="col px-5" style="padding-top: 30px;text-align: center;">
              <!-- Simple link -->
              <button class="btn-club" type="submit"
                class="btn btn-primary  d-block mb-4  text-center px-5 ">Login</button>
            </div>
            <hr class="my-8">
            <a style="color: blue;" class="item-center px-5 " href="/signup">Create Account</a>
          </form>
          <form action="/get-otp" method="post">
            {{#if otpUserBlock}}
            <p style="color: red;text-align: center;">{{otpUserBlock}}</p>
            {{/if}}
            {{#if invalidUser}}
            <p style="color: red; text-align: center">{{invalidUser}}</p>
            {{/if}}
            <label style="text-align: center; padding-bottom: 10px; " class="block mt-4 text-sm"><b>OTP VALIDATION</b>
              <span class="text-gray-700 dark:text-gray-400">ENTER NUMBER</span>
              <input
                class="form-control block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="ENTER YOUR MOBILE NUMBER" type="number" name="phone" required />
            </label>
            <!-- You should use a button here, as the anchor is only used for the example  -->
            <div class="" style="padding-top: 30px;text-align: center;">
              <button class="btn-club" type="submit">Submit</button>
            </div>
            <div>
              <a id="btn" href="/">Back Home</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>