<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    <div class="row m-5">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>Change Password</h3><br>
                    <form action="/password" method="post" id="form">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="password" id="password" name="password"  class="form-control" required/>
                                    <label class="form-label" for="password">Enter Old Password</label>
                                </div>
                            </div>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required />
                            <label class="form-label" for="newPassword">Enter New Password</label>
                        </div>
                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="Confirm" name="Confirm" class="form-control" required/>
                            <label class="form-label" for="Confirm">Conform Password</label>
                        </div>
                    </form>
                    <div class="card-footer py-3">
                        <button type="submit" id="submitDetails" name="submitDetails" class="btn btn-primary">Change
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

