<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
  <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img aria-hidden="true" class="object-cover w-full h-full dark:hidden"
          src="https://i.pinimg.com/originals/0d/d5/23/0dd5234b9d72142cff71caf3eb71c321.png" alt="Office" />
        <img aria-hidden="true" class="hidden object-cover w-full h-full dark:block" src="" alt="Office" />
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2"
        style="background-image: url(https://images.squarespace-cdn.com/content/v1/6209fc508f791e729abec7d0/18641903-a848-4a3a-a0a3-c9e2ddaa15c4/02-lottie-tick-01-instant-2.gif);">
        <div class="w-full">
          <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
            style="padding-left:50px ;padding-top: 200px;">
            <a href="/myorder"><button
                style="background-color: rgb(28, 169, 0); color: white; border-radius: 10px ; padding-left: 50px;padding-right: 50px;">view
                orders</button></a>
          </h1>
          <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200" style="padding-left:50px ;">
            <a href="/all-product"><button
                style="background-color: rgb(16, 20, 253); color: white; border-radius: 10px ; padding-left: 20px;padding-right: 20px;">Continue
                Shopping</button></a>
          </h1>
          <div class="text-center px-5  ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
